@use 'mixins';
@use 'var';

.tags {
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;

  @include mixins.flex(row, flex-start);
  @include mixins.padding(all, md);

  .tag {
    border: 0.5px solid var(--border-color);
    border-radius: 500px;

    @include mixins.padding(x, md);
    @include mixins.padding(y, sm);
    @include mixins.text-sm;
  }
}

.button {
  background: none;

  &:not(.flipped) {
    transform: rotate(180deg);
  }
}

.hidden {
  display: none;
}
