@use 'mixins';
@use 'var';

.topDiv {
  width: 100%;
  @include mixins.flex(row);
}

.imageWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  @include mixins.margin(right, 45px);

  .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    background-color: var(--background-inactive-color);
    @include mixins.flex();
  }
}

.editPhotoButtonWrapper {
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: 0;
  left: 0;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0.6;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    display: none;
  }
}

.profileData {
  @include mixins.flex(row, center, center);

  &__under {
    @include mixins.flex(column, center, flex-start);
    gap: 10px;
  }

  &__buttons {
    @include mixins.margin(left, 10px);
    @include mixins.flex(column, center, center);
    gap: 10px;

    button {
      @include mixins.padding(x, 5);
      @include mixins.padding(y, 5);
      border: 1px solid var(--background-active-color);
      border-radius: 50px;
      background: none;
      color: var(--background-active-color);
    }
  }

  input {
    width: 150px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 0;
  }
}

.name {
  font-size: 20px;
}

.profMsg {
  font-size: 16px;
}
