@use 'mixins';
@use 'var';

.topDiv {
  width: 100%;
  margin-bottom: 30px;
  @include mixins.flex(row);
}

.imageWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-right: 45px;
  overflow: hidden;

  .image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100px;
    background-color: var(--background-inactive-color);
    @include mixins.flex();
  }
}

.editPhotoButtonWrapper {
  position: absolute;
  width: 120px;
  height: 30px;
  bottom: 0;
  left: 0;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0.6;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    display: none;
  }
}

.profileData {
  @include mixins.flex(column, center, flex-start);

  input {
    width: 150px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--text-active-color);
    padding: 0;
  }
}

.name {
  font-size: 20px;
}

.profMsg {
  font-size: 16px;
}

.buttonWrapper {
  @include mixins.flex(row, center, flex-start);

  button {
    padding: 5px 10px;
  }

  button:first-child {
    margin-right: 10px;
  }
}
