@use 'mixins';
@use 'var';

.root {
  width: 100%;
  @include mixins.padding(y, 30);
  @include mixins.flex(column);
}

.tagData {
  width: 100%;
  padding: 0 50px;
  @include mixins.flex(column, center, flex-start);

  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.tagList {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  @include mixins.flex(row, flex-start, center);

  li {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--text-secondary-color);
    color: var(--background-color);
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
