@use 'mixins';
@use 'var';

.topDiv {
  width: 100%;
  @include mixins.flex(row);
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  background-color: var(--background-inactive-color);
  @include mixins.flex();
  @include mixins.margin(right, 45px);
}

.profileData {
  @include mixins.flex(row, center, center);

  &__under {
    @include mixins.flex(column, center, flex-start);

    h1 {
      font-size: 20px;
      width: 150px;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include mixins.margin(bottom, 10px);
    }

    h2 {
      width: 150px;
      max-width: 150px;
      font-size: 16px;
    }
  }

  button {
    background: none;
    padding: 5px 10px;
    color: var(--background-active-color);
  }
}
