@mixin text-sm {
  font-size: 0.85rem;
  line-height: 1.35rem;
}

@mixin text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin text-xl {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
