@use 'mixins';
@use 'var';

.top {
  @include mixins.flex(row, space-between, center);
  margin-bottom: 20px;

  h2 {
    @include mixins.text-lg;
    font-weight: 600;
    color: var(--text-color);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.element {
  height: 100%;
  overflow: hidden;
  aspect-ratio: 1;
  position: relative;

  &__button {
    width: 100%;
    height: 100%;
    background: none;

    &.selected::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: var(--black);
      opacity: 0.3;
      z-index: 5;
    }

    &.selected::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      z-index: 6;
      border: 5px solid var(--border-color);
    }
  }

  &__removeIcon {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    background-color: var(--white);
    cursor: pointer;
    @include mixins.flex(row, center, center);

    span {
      margin-top: 3px;
      font-weight: 600;
      @include mixins.text-sm;
      color: var(--text-color);
    }
  }

  &__addIcon {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    background-color: var(--white);
    cursor: pointer;
  }
}
