@use 'mixins';

.container {
  color: inherit;
  background-color: inherit;
  @include mixins.flex(column, center, center);

  & > span {
    // display: inline-block;
    @include mixins.text-sm;
    color: var(--background-color);
    font-weight: 700;
  }
}

.icon {
  color: var(--background-active-color);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.fill {
  opacity: 1;
}

.empty {
  opacity: 0.3;
}
