@use 'mixins';

.button {
  background: none;
  @include mixins.flex(column, center, center);

  &__icon {
    // stroke: var(--background-inactive-color);
    fill: var(--shadow-dark-color);
    transition: color 0.2s ease-in-out;
  }
}
