@use 'mixins';

.wrapper {
  width: 100%;

  @include mixins.flex(row, flex-start, center);

  $image-size: 40px;

  .noImage {
    width: $image-size;
    height: $image-size;
    border-radius: 30px;
    overflow: hidden;
    @include mixins.margin(right, md);
  }

  & > img {
    width: $image-size;
    height: $image-size;
    border-radius: 30px;
    @include mixins.margin(right, md);
  }

  & > h3 {
    @include mixins.text_md;
  }
}
