@use 'mixins';
@use 'var';

.root {
  width: 100%;
  min-height: var.$place-info-menu-min-height;
  gap: 16px;

  @include mixins.flex(column, flex-start, flex-start);
  @include mixins.padding(x, lg);
  @include mixins.padding(y, md);
  @include mixins.margin(top, md);

  .item {
    word-break: break-all;

    @include mixins.flex(row, $align: flex-start);

    &__group {
      height: 100%;
      gap: 8px;

      @include mixins.flex();
    }
  }

  $icon-width: 48px;
  .icon {
    width: $icon-width;

    @include mixins.flex(row, flex-start);

    &__secondary {
      $icon-size: 14px;
      width: $icon-size;
      height: $icon-size;
      color: var(--text-secondary-color);
    }
  }

  .address {
    &__content {
      height: 100%;

      @include mixins.flex(column);
    }

    &__1 {
      @include mixins.text-md;
    }

    &__2 {
      color: var(--text-secondary-color);

      @include mixins.text-sm;
    }
  }

  .button {
    color: inherit;
    background-color: inherit;
  }

  .site {
    color: var(--text-secondary-color);
    text-decoration: underline;
  }
}
