@use 'mixins';
@use 'var';

.root {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-color);

  @include mixins.header($border: 0);
  @include mixins.flex(row, space-between);

  $button-width: 24px;

  &__title {
    flex-shrink: 1;
    padding-right: $button-width;
    margin: 0 auto;

    @include mixins.text-lg;
  }

  &__backButton {
    background: inherit;
    color: inherit;
    width: $button-width;
  }
}

.transparent {
  background: transparent;
}

.hidden {
  visibility: hidden;
}
