$size-xs: 2px;
$size-sm: 4px;
$size-md: 12px;
$size-lg: 18px;
$size-xl: 24px;

$size: (
  xs: $size-xs,
  sm: $size-sm,
  md: $size-md,
  lg: $size-lg,
  xl: $size-xl,
);

$navbar-height: 64px;
$header-height: 50px;

$place-info-menu-min-height: 320px;
