@use 'mixins';

.item {
  position: relative;

  &__link {
    width: 100%;
    height: 100%;

    @include mixins.flex;
  }

  &__bookmarkButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__noImage {
    width: 100%;
    height: 100%;
    background-color: var(--background-inactive-color);

    @include mixins.flex;
  }

  &__empty {
    margin: auto 0;
    gap: 24px;

    @include mixins.flex(column);

    span {
      @include mixins.text-md;
    }

    a {
      padding: 12px 24px;
      border-radius: 4px;
      background-color: var(--background-active-color);
      color: var(--background-color);
    }
  }
}
