@use 'mixins';
@use 'var';

.root {
  width: 100%;

  @include mixins.flex(column, flex-start, center);
  @include mixins.box-shadow;
}

.header {
  gap: var.$p-md;

  @include mixins.header;
  @include mixins.flex(row, flex-start, center);

  &__title {
    @include mixins.text-lg;
  }

  &__button {
    background-color: inherit;
    color: inherit;

    &:hover,
    &:active {
      color: var(--text-active-color);
    }
  }
}

.searchForm {
  width: 100%;
  gap: var.$p-md;

  @include mixins.flex(row, flex-start, center);

  &__input {
    width: 100%;
    padding: var.$p-md var.$p-lg;
    background-color: var(--background-inactive-color);
    color: inherit;
    border: 0;
  }

  &__button {
    padding: var.$p-md var.$p-lg;
    background-color: inherit;
    color: inherit;
    border: 0;
  }
}

.addressList {
  width: 100%;
  border-bottom: 0.5px solid var(--border-color);

  @include mixins.flex(column, flex-start, flex-start);

  & > li {
    width: 100%;
    padding: var.$p-md var.$p-lg;
    & > button {
      background-color: inherit;
      color: inherit;
    }
  }
}
