@use 'mixins';
@use 'var';

.root {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--background-color);

  @include mixins.flex(column, flex-start, center);
  @include mixins.box-shadow;
}

.header {
  @include mixins.header;
  @include mixins.flex(row, space-between, center);

  .location {
    $icon-size: 22px;

    width: 100%;
    height: 100%;
    gap: var.$size-md;

    @include mixins.flex(row, flex-start, center);
  }

  &__title {
    @include mixins.text-lg;
  }

  &__button {
    background-color: inherit;
    color: inherit;

    &:hover,
    &:active {
      color: var(--text-active-color);
    }
  }
}
