@use 'mixins';

.container {
  width: 100%;
  gap: 16px;

  @include mixins.flex(column, flex-start, flex-start);

  .button {
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
  }

  .form {
    width: 100%;
    gap: 16px;

    @include mixins.flex(column, flex-start, flex-start);

    & > * {
      width: 100%;
      flex: 1;
    }

    & > div {
      width: 100%;
      gap: 4px;

      @include mixins.flex(column, flex-start, flex-start);

      & > label {
        color: var(--text-secondary-color);

        @include mixins.text-md;
      }
    }

    input,
    select,
    .fakeInput {
      width: 100%;
      padding: 0.5rem 1rem;
      color: inherit;
      background-color: inherit;
      border: 1px solid var(--border-color);
      border-radius: 6px;
    }

    .fakeInput {
      text-align: start;

      & > span {
        opacity: 0.8;

        @include mixins.text-sm;
      }
    }

    .submit {
      width: 100%;
      margin-top: 16px;
      padding: 0.75rem 1.25rem;
      border-radius: 6px;
      color: var(--background-color);
      background-color: var(--background-active-color);
    }
  }
}
