@use 'mixins';
@use 'var';

.skeleton {
  background: var(--background-skeleton-color);
  width: 100%;
  height: 100%;
  @include mixins.flex(column, center, center);

  & > svg {
    fill: var(--border-color);

    &.withTitle {
      @include mixins.margin(bottom, md);
    }
  }

  &__title {
    color: var(--text-color);
    @include mixins.text-lg;
    user-select: none;
  }

  &__subtitle {
    color: var(--text-secondary-color);
    @include mixins.text-sm;
    user-select: none;
  }
}
