@use 'mixins';
@use 'var';

.root {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
}

.top {
  position: relative;
  min-width: 100%;
  min-height: calc(100% - 0px);
  flex: 1;
  display: flex;
  @include mixins.flex(column, flex-start, flex-start);

  &__nav {
    background: linear-gradient(
      to bottom,
      var(--shadow-dark-color) 0%,
      transparent 100%
    );
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    @include mixins.flex(row, space-between, center);
    @include mixins.padding(all, md);
  }

  &__button {
    background: none;

    & > svg {
      width: 30px;
      height: 30px;
      color: var(--white);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.carousel {
  width: 100%;
  min-width: 100%;
  max-height: 70vh;
  flex: 1;

  @include mixins.flex(row, flex-start, stretch);

  .wrapper {
    min-height: 70vh;
    height: 70vh;
    @include mixins.flex(row, flex-start, stretch);
  }
}

.carousel-recommendation {
  width: 100%;
  min-width: 100%;
  max-height: 70vh;
  flex: 1;

  @include mixins.flex(row, flex-start, stretch);

  .wrapper-recommendation {
    min-height: 70vh;
    height: 70vh;
    @include mixins.flex(row, flex-start, stretch);
  }
}

.metadata {
  width: 100%;
  height: fit-content;
  @include mixins.padding(all, lg);

  &__top {
    @include mixins.flex(row, space-between, center);
    @include mixins.margin(bottom, md);
  }

  &__user {
    @include mixins.flex(row, flex-start, center);

    & > img {
      width: 40px;
      height: 40px;
      border-radius: 30px;
      @include mixins.margin(right, md);
    }

    & > h3 {
      @include mixins.text_md;
    }
  }

  &__buttons {
    @include mixins.flex(row, flex-end, center);

    & > svg {
      width: 24px;
      height: 24px;

      &:not(:last-child) {
        @include mixins.margin(right, md);
      }
    }

    &__follow {
      @include mixins.margin(right, 8px);
    }

    &__bookmark {
      span {
        color: var(--text-color) !important;
      }
    }
  }

  &__title {
    @include mixins.text_lg;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.bottom {
  position: sticky;
  min-width: 100%;
  width: 100%;
  height: calc(100vh - 0px);
  top: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  @include mixins.padding(all, md);

  &__recommendation {
    @include mixins.margin(left, xl);
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 70%;
  }
}

.footer {
  @include mixins.text-lg;
  color: var(--text-color);
  animation: motion 0.8s ease-in 0s infinite alternate;
  margin-top: 0;
  text-align: center;

  @keyframes motion {
    0% {
      margin-top: 0;
    }
    100% {
      margin-top: 10px;
    }
  }
}
