@use 'mixins';
@use 'var';

.root {
  @include mixins.flex(column, flex-start, center);
  min-height: 100vh;
  position: relative;
  padding-bottom: var.$navbar-height;

  @include mixins.media('>small') {
    max-width: map-get(mixins.$breakpoints, small);
    margin: 0 auto;
  }
}
