@use 'mixins';
@use 'var';
@use 'components';

.container {
  height: 100%;
  width: 100%;
  min-width: 0;

  overflow-y: auto;
}

.placeList {
  @include mixins.flex(column);
  width: 100%;

  &__item {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
}

.placeItem {
  @include mixins.flex(column, flex-start, flex-start);
  width: 100%;

  &__header {
    @include mixins.flex(column, center, flex-start);
    width: 100%;
    padding: var.$p-md var.$p-lg;
  }

  &__title {
    @extend %text-lg;
    padding: var.$p-sm 0;
  }

  &__address {
    @extend %text-sm;
  }

  .thumbnail {
    object-fit: cover;
    $img-height: 360px;
    min-height: $img-height;
    max-height: $img-height * 1.5;

    &__wrapper {
      @include mixins.flex(column, center, center);
      width: 100%;
    }

    &__skeleton {
      background: var(--background-inactive-color);
      width: 100%;
      height: $img-height;
    }
  }
}
