@use 'mixins';
@use 'var';

$img-height: 360px;

.container {
  height: 100%;
  width: 100%;
  min-width: 0;
  // overflow-y: ㄴㅊ;
}

.placeList {
  width: 100%;

  @include mixins.flex(column);
}

.placeItem {
  position: relative;
  width: 100%;
  height: $img-height;
  @include mixins.margin(bottom, lg);
  border-radius: 5px;
  box-shadow: 0 5px 5px -1px var(--shadow-color);

  @include mixins.flex(column, flex-start, flex-start);

  &__inner {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
  }

  &__tags {
    margin-bottom: 5px;
  }

  &__header {
    border-radius: 5px;
    z-index: 3;
    background-color: var(--background-color);
    box-shadow: 0 0px 5px 0px var(--border-color);

    @include mixins.flex(column, center, flex-start);
    @include mixins.padding(x, lg);
    @include mixins.padding(y, md);
  }

  &__headerTop {
    width: 100%;
    @include mixins.flex(row, space-between, center);
  }

  &__title {
    @include mixins.text-lg;
    @include mixins.padding(y, sm);
  }

  &__address {
    @include mixins.text-sm;
  }

  &__bookmark {
    position: absolute;
    top: -10px;
    right: 5px;
    z-index: 3;
  }

  .thumbnail {
    position: absolute;
    width: 100%;
    height: $img-height;
    top: 0;
    left: 0;
    object-fit: cover;

    &__skeleton {
      background: var(--background-inactive-color);
      width: 100%;
      height: $img-height;
      @include mixins.flex(column, flex-start, center);
      @include mixins.padding(y, 70);

      & > svg {
        fill: var(--border-color);
        @include mixins.margin(bottom, md);
      }

      &__title {
        color: var(--text-color);
        @include mixins.text-lg;
        user-select: none;
      }

      &__subtitle {
        color: var(--text-secondary-color);
        @include mixins.text-sm;
        user-select: none;
      }
    }
  }
}
