@use 'mixins';
@use 'var';

$img-height: 360px;

.container {
  height: 100%;
  width: 100%;
  min-width: 0;
  overflow-y: auto;
}

.placeList {
  width: 100%;

  @include mixins.flex(column);
}

.placeItem {
  position: relative;
  width: 100%;
  height: $img-height;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 5px -1px var(--border-color);

  @include mixins.flex(column, flex-start, flex-start);

  &__header {
    width: 95%;
    position: absolute;
    bottom: 10px;
    left: 2.5%;
    border-radius: 5px;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0px 5px 0px var(--border-color);

    @include mixins.flex(column, center, flex-start);
    @include mixins.padding(x, lg);
    @include mixins.padding(y, md);
  }

  &__title {
    @include mixins.text-lg;
    @include mixins.padding(y, sm);
  }

  &__address {
    @include mixins.text-sm;
  }

  .thumbnail {
    position: absolute;
    width: 480px;
    top: 0;
    left: 0;
    object-fit: cover;
    min-height: $img-height;
    max-height: $img-height * 1.5;

    &__skeleton {
      background: var(--background-inactive-color);
      width: 100%;
      height: $img-height;
    }
  }
}
