@use 'mixins';

.container {
  width: 100%;
  height: 100%;
  flex: 1;

  @include mixins.flex(column);

  h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  h2 {
    @include mixins.text-lg;
  }
}
