@use 'mixins';
@use 'var';

.sticky {
  position: sticky;
  top: var.$header-height;
  z-index: 2;

  @include mixins.margin(top, var.$size-lg * 2);
}

.menu {
  width: 100%;
  height: var.$header-height;
  @include mixins.flex(row, space-around, flex-start);
  background-color: var(--background-color);

  .active {
    background-color: var(--background-inactive-color);
    border-bottom: 2px solid var(--border-color);
  }

  &__item {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    flex: 1 1 0;

    @include mixins.text-md;
    @include mixins.padding(all, md);

    &:hover,
    &:active,
    &:focus {
      @extend .active;
    }
  }

  &__itemActive {
    @extend .active;
  }
}
