@use 'mixins';
@use 'var';

.container {
  width: 100%;
  height: 100%;

  @include mixins.flex(column, flex-start, flex-start);
}

.searchForm {
  width: 100%;
  gap: var.$size-md;

  @include mixins.flex(row, flex-start, center);

  &__input {
    width: 100%;
    background-color: var(--background-inactive-color);
    color: inherit;
    border: 2px solid var(--border-color);
    border-radius: 6px;

    @include mixins.padding(x, md);
    @include mixins.padding(y, 8);
  }

  &__button {
    background-color: inherit;
    color: inherit;
    border: 0;

    @include mixins.padding(y, md);
  }
}

.addressList {
  width: 100%;

  @include mixins.flex(column, flex-start, flex-start);

  &__container {
    width: 100%;
    height: calc(100% - 16px);
    margin-top: 16px;
    overflow-y: auto;
  }

  & > li {
    width: 100%;

    @include mixins.padding(x, lg);
    @include mixins.padding(y, md);

    & > button {
      width: 100%;
      background-color: inherit;
      color: inherit;

      @include mixins.flex(row, flex-start, center);
    }
  }

  .noResult {
    @include mixins.flex;
    @include mixins.margin(y, xl);
  }
}
