@use 'mixins';

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.gridItem {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  @include mixins.flex;

  & img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
