@use 'mixins';
@use 'var';

.root {
  width: 100%;
  min-height: var.$place-info-menu-min-height;

  @include mixins.flex(column);

  .hasNoReview {
    @include mixins.text-lg;

    &__writeButton {
      height: 40px;
      margin-top: 16px;
    }
  }
}
